body {
  margin: 0; /* margin: none hibás */
  box-sizing: border-box;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(20deg, #727ce6, #dd99e6);
}

/* Cím */
#cim {
  text-align: right;
  margin: 2rem;
  font-family: Poppins, Verdana, Arial, sans-serif;
  font-size: clamp(2rem, 5vw, 4rem);
  color: #fafafa;
  z-index: 2;
}

/* Gomb */
#startBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: clamp(180px, 20vw, 400px);
  height: clamp(60px, 8vh, 120px);

  z-index: 2;
  border-radius: 45px;
  font-family: Poppins, Verdana, Arial, sans-serif;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 500;
  color: hsl(258, 65%, 100%);
  background: hsla(0, 0%, 0%, 30%);
  cursor: pointer;
  border: none;
}

#startBtn:hover {
  transform: translate(-50%, -50%) scale(1.1);
  transition: 0.2s ease;
  box-shadow: 0 0 35px hsl(240, 3%, 54%);
}

/* Credit */
#credit {
  z-index: 2;
  color: #fafafa;
  font-family: Poppins, Verdana, Arial, sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  width: clamp(100px, 12vw, 160px);
  font-size: clamp(0.7rem, 1vw, 1rem);
}

/* Négyzet */
.negyzet {
  width: 50vmin;
  height: 50vmin;
  background: hsl(0, 80%, 62%);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  animation: 4s infinite linear rotateNegyzet;
  z-index: -1;
}

/* Kör */
.kor {
  width: 140vmax;
  height: 140vmax;
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: center;
  animation: 9s infinite linear rotateKor;
  z-index: -1;
  background-image: url(images/kor.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Animációk */
@keyframes rotateNegyzet {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes rotateKor {
  0% {
    transform: translate(45%, 45%) rotate(360deg);
  }
  100% {
    transform: translate(45%, 45%) rotate(0deg);
  }
}
/* .particles {
  width: 1px;
  height: 1px;
  background: #fafafa;
} */

#signup {
  z-index: 3;
  width: 50vw;
  height: 75vh;
  border: 4px solid hsla(0, 0%, 98%, 50%);
  border-radius: 25px;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #9797a0;
  font-family: Poppins, Verdana, Arial, sans-serif;
  color: #fafafa;
  box-shadow: 0 0 35px hsl(240, 3%, 54%);
  overflow: hidden;

  &::backdrop {
    background: #00000062;
    backdrop-filter: blur(5px);
  }
}
#buttonHolder {
  text-align: right;
}
#closeBtn {
  border: none;
  background: none;
  color: #cd7272;
  font-size: 3rem;
  cursor: pointer;
  width: 1em;
  height: 1em;
  padding: 8px;
  text-align: center;
  margin-right: 0;
  font-weight: 1000;
}
#signup label {
  font-size: 2em;
  font-weight: bold;
}
#nameField {
  width: 90%;
  margin: 5px;
  border: 1px solid grey;
  border-radius: 15px;
  height: 2em;
  padding-left: 20px;
  font-weight: 600;
  font-size: 1.5em;
  color: rgb(92, 92, 92);
}